<div class="featured-content-item {{ width }}" data-block_id="{{ blockId }}">
  <a href="{{ product.url }}">
    <img src="{{ product | img_url: "300x300" }}"/>
    <p>{{ product.title }}</p>
    <p>{{ product.price | money }}</p>
  </a>
</div>